/* FONTS */
/* dancing-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/dancing-script-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* almendra-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Almendra SC";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/almendra-sc-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Global settings */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Dancing Script";
  padding: 10px;
}

body {
  margin: 0px;
  background-image: url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg);
}

.title,
h2,
h3 {
  font-family: "Almendra SC", serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

div {
  border: 2px solid black;
}

/* Header */
header {
  display: flex;
  border: 3px groove grey;
  border-right: none;
  border-left: none;
  border-top: none;
  justify-content: space-between;
  align-items: center;
}

#insignien {
  width: 10%;
  padding: 0;
  height: auto;
}

header p {
  margin-top: auto;
  font-size: 1rem;
}

.title {
  text-align: center;
}

.title span {
  font-family: "Almendra SC", serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 10px;
}

#design {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.title p {
  display: inline-block;
  font-family: "Almendra SC", serif;
  font-weight: bold;
  font-size: 5rem;
}

.title p::first-letter {
  color: goldenrod;
}

/* Main */

/* .newspaper {
  column-count: 3;
  column-gap: 10px;
  /* column-rule-style: solid; */

.part5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 100vh;
}

.container.group1,
.container.group2 {
  display: contents;
}

.item1 {
  grid-column: 1 / span 6;
  grid-row: 1;
}

.item2 {
  grid-row: 2 / span 3;
  grid-column: 1 / span 2;
}

.item3 {
  grid-row: 2;
  grid-column: 3 / span 4;
}

.item4 {
  grid-row: 3;
  grid-column: 3 / span 2;
}

.item5 {
  grid-row: 3;
  grid-column: 5 / span 2;
}

.item6 {
  grid-row: 4;
  grid-column: 3 / span 4;
}

* {
  margin: 0;
}

.item1 {
  column-count: 3;
  column-gap: 10px;
}

div p::first-letter {
  font-weight: bold;
}

figure {
  display: table;
  float: left;
  margin: 5px;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

.item3 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: pre;
  height: max-content;
}

.author {
  float: right;
  width: fit-content;
}

#mess {
  display: flex;
  align-items: center;
}

#mess h2 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  order: 100;
}

blockquote {
  font-weight: 900;
  font-size: larger;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
